/* Import base styles */
@import './base.css';

@font-face {
    font-family: 'PopRumKiwi-Tel';
    src: url('./fonts/PopRumKiwi-Tel.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Ensure full height and reset default margin/padding */
html, body, #app {
    height: auto;
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #2A5BBD;
    color: white;
}


#app {
    margin: 0 auto;
    padding: 0;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.lexend {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.lexend-bold {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.pop {
    font-family: 'PopRumKiwi-Tel', sans-serif; /* Added a fallback */
}

.rotate-2{
    transform: rotate(-2deg);
}